@model Bdl_Grupo2_ProyectoFinal_A.Usuarios

@{
    ViewBag.Title = "Inicio de Sesión";
    Layout = null;
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/Css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding-top: 90px;
        }

        .panel-login {
            border-color: #ccc;
            -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
            -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        }

            .panel-login > .panel-heading {
                color: #00415d;
                background-color: #fff;
                border-color: #fff;
                text-align: center;
            }

                .panel-login > .panel-heading a {
                    text-decoration: none;
                    color: #666;
                    font-weight: bold;
                    font-size: 15px;
                    -webkit-transition: all 0.1s linear;
                    -moz-transition: all 0.1s linear;
                    transition: all 0.1s linear;
                }

                    .panel-login > .panel-heading a.active {
                        color: #029f5b;
                        font-size: 18px;
                    }

                .panel-login > .panel-heading hr {
                    margin-top: 10px;
                    margin-bottom: 0px;
                    clear: both;
                    border: 0;
                    height: 1px;
                    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
                    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
                    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
                    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
                }

            .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
                height: 45px;
                border: 1px solid #ddd;
                font-size: 16px;
                -webkit-transition: all 0.1s linear;
                -moz-transition: all 0.1s linear;
                transition: all 0.1s linear;
            }

            .panel-login input:hover,
            .panel-login input:focus {
                outline: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                border-color: #ccc;
            }

        .btn-login {
            background-color: #59B2E0;
            outline: none;
            color: #fff;
            font-size: 14px;
            height: auto;
            font-weight: normal;
            padding: 14px 0;
            text-transform: uppercase;
            border-color: #59B2E6;
        }

            .btn-login:hover,
            .btn-login:focus {
                color: #fff;
                background-color: #53A3CD;
                border-color: #53A3CD;
            }

        .forgot-password {
            text-decoration: underline;
            color: #888;
        }

            .forgot-password:hover,
            .forgot-password:focus {
                text-decoration: underline;
                color: #666;
            }

        .btn-register {
            background-color: #1CB94E;
            outline: none;
            color: #fff;
            font-size: 14px;
            height: auto;
            font-weight: normal;
            padding: 14px 0;
            text-transform: uppercase;
            border-color: #1CB94A;
        }

            .btn-register:hover,
            .btn-register:focus {
                color: #fff;
                background-color: #1CA347;
                border-color: #1CA347;
            }
    </style>
</head>
<body style="background-color: #CCCCFF;">
    <div class="container animate__animated animate__fadeIn w3_" style="align-content:center;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Iniciar Sesión</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Registrarse</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <img class="rounded mx-auto d-block" style="width:250px; height:150px; border:none;"   src="~/Media/Tecnicos/Logo_DevSolutions.png" />
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="/Usuarios/Verificar" class="needs-validation" id="login-form" method="post" role="form" style="display: block;" novalidate>
                                    <div class="form-group">
                                        <input type="text" name="usr" id="username" tabindex="1" class="form-control" placeholder="Correo Electrónico" value="" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            Ingrese su nombre de usuario.
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <input type="text" name="code" id="code" tabindex="2" class="form-control" placeholder="Código Usuario" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            Ingrese su código.
                                        </div>
                                    </div>-->
                                    <div class="form-group">
                                        <input type="password" name="pwd" id="password" tabindex="2" class="form-control" placeholder="Contraseña" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            Ingrese su contraseña.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Iniciar Sesión ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="~/UsrTecnicos/InicioSesion" tabindex="5" class="forgot-password">Soy Técnico</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="register-form" class="needs-validation" action="/Usuarios/Register" method="post" role="form" style="display: none;" novalidate>
                                    <input type="text" name="codigo" id="codigo" value="@Model.Usr_CodigoUsuario" required hidden>
                                    <div class="form-group">
                                        <input type="text" name="usuario" id="username" tabindex="1" class="form-control" placeholder="Nombre de Usuario" value="" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            *Ingrese un nombre de usuario.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="correo" id="email" tabindex="1" class="form-control" placeholder="Correo Electrónico" value="" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            Ingrese su Correo Electrónico.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contraseña" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            *Ingrese una contraseña.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @*@Html.DropDownList("Dpt_Id", null, new {tabindex = "2", @class = "form-control", style= "height: 45px; font-size: 16px;" })*@
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Registrarse">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.enviado == 2)
                {
                    <div id="alert_d" class="alert alert-danger" role="alert" style="margin-top: 20px;">
                        El correo electrónico o código ya esta en uso.
                    </div>
                }
                @if (Model.enviado == 1)
                {
                    <div id="alert_d" class="alert alert-danger" role="alert" style="margin-top: 20px;">
                        El usuario no existe, registrese.
                    </div>
                }
            </div>
            
        </div>
        
    </div>
</body>
<script>
    (function () {
        '';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    $(function () {
        $('#login-form-link').click(function (e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function (e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $("#alert_d").hide();
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });
</script>